{% extends "base.html" %}

{% block content %}
    <h2>Categories</h2>
    <a href="{% url 'orders_app:customers-add' %}" class="btn btn-info" role="button">Add Category</a>    
    <ul>
        {% for category in object_list %}
            <div class="card m-3">
      
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            {{ category.name }}

                        </div>
                        <div class="col-2 d-flex justify-content-end">

                            <a class="btn btn-info" role="button" href="{{ category.get_update_url }}">Edit</a>
                        </div>
                        <div class="col-2 d-flex justify-content-end">

                            <a class="btn btn-danger" role="button" href="{{ category.get_delete_url }}">Delete</a>
                        </div>

                    </div>    
                
                </div>

            </div>
        {% endfor %}
    </ul>

{% endblock %}