{% extends "base.html" %}
{% load static %}
{% block content %}
<script>
    $(document).ready(function(){
      $('.toast').toast('show');
    });


</script>

{% csrf_token %}
<div class="card">
    {% if not user.is_staff %}
        <div class="card-body">
            <h1 align="center">Homepage</h1>
            <h3 align="center">Your are not staff</h3>
        </div>
        </div>
    {% else %}
        <div class="card-body">
            <h1 align="center">Welcome</h1>
            <h3 align="center">You have total of {{no_of_orders}} orders</h3>
            <ul>
              {% for status in groupped_summary %}
                <p align="center">{{status.status}}: {{status.status__count}}</p>
              {% endfor %}
            </ul>

        </div>
    {% endif %}
</div>

    
    <form method="POST" enctype="multipart/form-data">

    <div class="input-group">

  </form>

    <div>

        <p>
        </p>
    </div>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <div class="toast" data-delay=2000>
        <div class="toast-body">
          {{ message }}
        </div>
      </div>
        <!-- <li class="{{ message.tags }}">{{ message }}</li> -->
      {% endfor %}
    </ul>

    {% endif %}
{% endblock %}