{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}




{% block content %}
<link rel="stylesheet" href="{% static 'orders_app/css/order_detail.css' %}">

{{summary_data|json_script:"groupped-count"}}



<h2>Order detail</h2>



<h5>ID: {{ order.id }} | CUSTOMER ID: {{order.customer}} | STATUS: {{order.get_status_display}}</h5>
<form id="order_form" action="{% url 'orders_app:orders-update' order.id %} " method="post">{% csrf_token %}
  {{ order_form | crispy}}
</form>
<div class="m-3">

  <a href="{% url 'orders_app:ordereditem-add' %}?order_id={{order.id}}" class="btn btn-info" role="button">add item</a>    
</div>

        <div class="card shadow">
          <div class="main-bar"></div>
        </div>

        <form id="order_items_form" action="{% url 'orders_app:order-items-update' order.id %} " method="post">{% csrf_token %}
            {% csrf_token %}
            {% for ordereditem, form in queryset_formset %}
    
                <div class="card shadow m-3">
                    <div class="card-header">
                        {% include 'orders_app/ordereditem_detail.html' %}
                    </div>
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-4">
                              {{ form.status|as_crispy_field }}
                            </div>
                            <div class="col-4">
                              {{ form.quantity|as_crispy_field }}
                            </div>
                            <div class="col-4">
                              {{ form.DELETE|as_crispy_field }}
                            </div>
                            
                              {{ form.id}}
                            
                          </div>
                    </div>

                </div>
            {% endfor %}
            {{formset.management_form}}
            <div class="m-3">

              <input class="btn btn-warning" type="submit" value="Save">
            </div>
        </form>
        

  <script type="text/javascript" src="{% static 'orders_app/js/order_detail.js' %}"></script>


{% endblock %}