    
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {{ ordereditem.item }}
                        </div>
                        <div class="col">
                            {{ ordereditem.quantity }}
                        </div>
                        <div class="col">
                            {{ ordereditem.order_id }}
                        </div>
                        <div class="col">
                            {{ ordereditem.status }}
                        </div>

                    </div>    
                
                </div>

            </div>